*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 18px;
  }
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-item-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 360px;
          flex: 1 1 360px;
}

.flex-item-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 360px;
          flex: 2 1 360px;
}

.flex-item-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 360px;
          flex: 3 1 360px;
}

.flex-item-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 360px;
          flex: 4 1 360px;
}

.flex-item-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 360px;
          flex: 5 1 360px;
}

.flex-item-auto {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

.hero {
  height: 90vh;
}

@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }
}

.bg-home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.svg-bg-home {
  width: 150%;
}

@media screen and (min-width: 1440px) {
  .svg-bg-home {
    width: 100%;
  }
}

.bg-home-blur1 {
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0);
}

.bg-home-rect1 {
  -webkit-animation: bg-home-rect 3s ease 0s infinite alternate;
          animation: bg-home-rect 3s ease 0s infinite alternate;
}

.bg-home-rect2 {
  -webkit-animation: bg-home-rect 3s ease 0.5s infinite alternate;
          animation: bg-home-rect 3s ease 0.5s infinite alternate;
}

.bg-home-rect3 {
  -webkit-animation: bg-home-rect 3s ease 1s infinite alternate;
          animation: bg-home-rect 3s ease 1s infinite alternate;
}

.bg-home-rect4 {
  -webkit-animation: bg-home-rect 3s ease 1.5s infinite alternate;
          animation: bg-home-rect 3s ease 1.5s infinite alternate;
}

@-webkit-keyframes bg-home-rect {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
}

@keyframes bg-home-rect {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
}

.list-item {
  list-style: none;
  position: relative;
  padding: 8px 8px 8px 72px;
  margin-bottom: 48px;
}

.list-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: -8px;
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 10px;
}

strong {
  color: #232224;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  strong {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    line-height: 150%;
  }
}

h1 {
  color: #161617;
  font-family: 'Sora', sans-serif;
  font-size: 6.4rem;
  line-height: 100%;
}

@media screen and (max-width: 960px) {
  h1 {
    font-family: 'Sora', sans-serif;
    font-size: 3.6rem;
    line-height: 120%;
  }
}

h2 {
  color: #161617;
  font-family: 'Sora', sans-serif;
  font-size: 5.2rem;
  line-height: 100%;
}

@media screen and (max-width: 960px) {
  h2 {
    font-family: 'Sora', sans-serif;
    font-size: 3.6rem;
    line-height: 120%;
  }
}

h3 {
  color: #161617;
  font-family: 'Sora', sans-serif;
  font-size: 3.6rem;
  line-height: 120%;
}

@media screen and (max-width: 960px) {
  h3 {
    font-family: 'Sora', sans-serif;
    font-size: 2.4rem;
    line-height: 120%;
  }
}

h4 {
  color: #161617;
  font-family: 'Sora', sans-serif;
  font-size: 2.4rem;
  line-height: 130%;
}

@media screen and (max-width: 960px) {
  h4 {
    font-family: 'Sora', sans-serif;
    font-size: 1.8rem;
    line-height: 130%;
  }
}

h5 {
  text-transform: uppercase;
  background: linear-gradient(220.94deg, #A950C4 14.43%, #82269E 85.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: 'Sora', sans-serif;
  font-size: 1.8rem;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  h5 {
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
    line-height: 150%;
  }
}

p {
  color: #666566;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
  color: #353436;
}

.strong {
  color: #161617;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  .strong {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  line-height: 140%;
  text-decoration: none;
  color: #232224;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

a:hover {
  opacity: .9;
}

.btn {
  background: linear-gradient(220.94deg, #A950C4 14.43%, #82269E 85.28%);
  color: #FBF8FC;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  border-radius: 16px;
  padding: 12px 32px;
  -webkit-box-shadow: 0px 43px 60px rgba(169, 80, 196, 0.14), 0px 12.9632px 18.0882px rgba(169, 80, 196, 0.0912224), 0px 5.38427px 7.51293px rgba(169, 80, 196, 0.07), 0px 1.94738px 2.71728px rgba(169, 80, 196, 0.0487776);
          box-shadow: 0px 43px 60px rgba(169, 80, 196, 0.14), 0px 12.9632px 18.0882px rgba(169, 80, 196, 0.0912224), 0px 5.38427px 7.51293px rgba(169, 80, 196, 0.07), 0px 1.94738px 2.71728px rgba(169, 80, 196, 0.0487776);
}

.btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px -2px 60px rgba(169, 80, 196, 0.71), 0px -0.60294px 18.0882px rgba(169, 80, 196, 0.462628), 0px -0.25043px 7.51293px rgba(169, 80, 196, 0.355), 0px -0.09058px 2.71728px rgba(169, 80, 196, 0.247372);
          box-shadow: 0px -2px 60px rgba(169, 80, 196, 0.71), 0px -0.60294px 18.0882px rgba(169, 80, 196, 0.462628), 0px -0.25043px 7.51293px rgba(169, 80, 196, 0.355), 0px -0.09058px 2.71728px rgba(169, 80, 196, 0.247372);
}

.link {
  display: inline-block;
  color: #82269E;
  background-image: url("../svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  font-size: 1.8rem;
  padding: 16px 16px 16px 40px;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  display: block;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  top: 75%;
  left: 64px;
  width: 0%;
  height: 2px;
  border-radius: 2px;
  background-color: #82269E;
}

.link:hover {
  opacity: 0.8;
  padding-left: 64px;
  background-position: 8px 50%;
}

.link:hover::after {
  width: 70%;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 36px;
}

.m-4 {
  margin: 48px;
}

.m-5 {
  margin: 72px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 36px;
}

.mt-4 {
  margin-top: 48px;
}

.mt-5 {
  margin-top: 72px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 36px;
}

.mb-4 {
  margin-bottom: 48px;
}

.mb-5 {
  margin-bottom: 72px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 36px;
}

.mr-4 {
  margin-right: 48px;
}

.mr-5 {
  margin-right: 72px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 36px;
}

.ml-4 {
  margin-left: 48px;
}

.ml-5 {
  margin-left: 72px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 36px;
  margin-right: 36px;
}

.mx-4 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-5 {
  margin-left: 72px;
  margin-right: 72px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.my-4 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-5 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 36px;
}

.p-4 {
  padding: 48px;
}

.p-5 {
  padding: 72px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 36px;
}

.pt-4 {
  padding-top: 48px;
}

.pt-5 {
  padding-top: 72px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 36px;
}

.pb-4 {
  padding-bottom: 48px;
}

.pb-5 {
  padding-bottom: 72px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 36px;
}

.pr-4 {
  padding-right: 48px;
}

.pr-5 {
  padding-right: 72px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 36px;
}

.pl-4 {
  padding-left: 48px;
}

.pl-5 {
  padding-left: 72px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 36px;
  padding-right: 36px;
}

.px-4 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-5 {
  padding-left: 72px;
  padding-right: 72px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.py-4 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-5 {
  padding-top: 72px;
  padding-bottom: 72px;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #EDEAEF;
}

svg, img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

header {
  width: 100%;
  height: 72px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: fixed;
  z-index: 800;
}

.active-header {
  background-color: #F3F0F5;
  -webkit-box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
          box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
}

.navbar-desktop {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 960px) {
  .navbar-desktop {
    display: none;
  }
}

.logo {
  width: 48px;
  height: 48px;
  z-index: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-desktop-item-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-desktop-item-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desktop {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desktop .menu-item {
  margin-left: 16px;
  position: relative;
}

.nav-link-desktop {
  display: inline-block;
  padding: 12px 16px;
  position: relative;
}

.nav-link-desktop::after {
  content: '';
  position: absolute;
  top: 42%;
  right: -3px;
  width: 7px;
  height: 7px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 1px;
  border-bottom: 2px solid #82269E;
  border-right: 2px solid #82269E;
}

.nav-link-desktop:hover::after {
  top: 45%;
}

.dropdown-menu {
  background-color: #FBF8FC;
  border-radius: 16px;
  padding: 16px 24px;
  -webkit-box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
          box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
  list-style: none;
  position: absolute;
  top: 48px;
  left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.dropdown-menu .dropdown-item {
  width: 100%;
}

.active-dropdown-menu {
  pointer-events: all;
  opacity: 1;
}

.nav-link-dropdown {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;
  position: relative;
}

.nav-link-dropdown::after {
  content: '';
  position: absolute;
  top: 90%;
  left: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  width: 0%;
  height: 2px;
  background-color: #A950C4;
}

.nav-link-dropdown:hover::after {
  width: 80%;
  left: 16px;
}

.navbar-mobile {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.bx::after {
  content: '';
  position: absolute;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  top: 40%;
  left: 15%;
  width: 70%;
  height: 2px;
  background-color: #82269E;
}

.bx::before {
  content: '';
  position: absolute;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  top: 64%;
  left: 15%;
  width: 70%;
  height: 2px;
  background-color: #82269E;
}

.active-bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.active-bx::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  width: 70%;
  height: 2px;
  background-color: #82269E;
}

.active-bx::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  width: 70%;
  height: 2px;
  background-color: #82269E;
}

.menu-mobile {
  width: 100vw;
  height: 100vh;
  background-color: #F3F0F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0);
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
}

.nav-list-mobile {
  max-width: 1440px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-list-mobile svg {
  width: 36px;
  height: 36px;
}

.nav-list-mobile svg path {
  stroke: #A6A6A7;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.nav-list-mobile svg:hover path {
  stroke: #82269E;
}

.nav-link-mobile {
  display: inline-block;
  font-family: 'Sora', sans-serif;
  font-size: 3.6rem;
  line-height: 120%;
  color: #555456;
  padding: 16px 24px;
  position: relative;
}

.nav-link-mobile::after {
  content: '';
  position: absolute;
  top: 90%;
  left: 16px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  width: 0;
  height: 2px;
  background-color: #A950C4;
}

.nav-link-mobile:hover {
  color: #82269E;
}

.nav-link-mobile:hover::after {
  width: 100%;
}

.dropshadow {
  -webkit-filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
          filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}

.bg-icon-mobile::after {
  background-image: url("../svg/icon-mobile.svg");
  background-size: cover;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
          filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}

.bg-icon-mobile:hover::after {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.bg-icon-card::after {
  background-image: url("../svg/icon-card.svg");
  background-size: cover;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
          filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}

.bg-icon-card:hover::after {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.bg-icon-check::after {
  background-image: url("../svg/icon-check.svg");
  background-size: cover;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  width: 42px;
  height: 42px;
  top: 16px;
  left: 8px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
          filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}

.bg-icon-check:hover::after {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.div-card {
  -webkit-perspective: 500px;
          perspective: 500px;
  position: relative;
}

.card {
  width: 340px;
  height: 217.6px;
  border-radius: 12px;
  z-index: -1;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: flip-card 12s linear infinite alternate, change-bg-card 12s linear infinite alternate;
          animation: flip-card 12s linear infinite alternate, change-bg-card 12s linear infinite alternate;
}

@-webkit-keyframes flip-card {
  0% {
    -webkit-transform: rotateX(-10deg) rotateY(10deg) rotateY(-15deg);
            transform: rotateX(-10deg) rotateY(10deg) rotateY(-15deg);
  }
  40% {
    -webkit-transform: rotateX(0deg) rotateY(20deg);
            transform: rotateX(0deg) rotateY(20deg);
  }
  60% {
    -webkit-transform: rotateX(180deg) rotateY(20deg);
            transform: rotateX(180deg) rotateY(20deg);
  }
  100% {
    -webkit-transform: rotateX(190deg) rotateY(10deg) rotateY(15deg);
            transform: rotateX(190deg) rotateY(10deg) rotateY(15deg);
  }
}

@keyframes flip-card {
  0% {
    -webkit-transform: rotateX(-10deg) rotateY(10deg) rotateY(-15deg);
            transform: rotateX(-10deg) rotateY(10deg) rotateY(-15deg);
  }
  40% {
    -webkit-transform: rotateX(0deg) rotateY(20deg);
            transform: rotateX(0deg) rotateY(20deg);
  }
  60% {
    -webkit-transform: rotateX(180deg) rotateY(20deg);
            transform: rotateX(180deg) rotateY(20deg);
  }
  100% {
    -webkit-transform: rotateX(190deg) rotateY(10deg) rotateY(15deg);
            transform: rotateX(190deg) rotateY(10deg) rotateY(15deg);
  }
}

@-webkit-keyframes change-bg-card {
  0%, 49% {
    background-image: url(../svg/nubank.svg);
    background-size: cover;
  }
  50%, 100% {
    background-image: url(../svg/nubank-verse.svg);
    background-size: cover;
  }
}

@keyframes change-bg-card {
  0%, 49% {
    background-image: url(../svg/nubank.svg);
    background-size: cover;
  }
  50%, 100% {
    background-image: url(../svg/nubank-verse.svg);
    background-size: cover;
  }
}

.icon-card-hero {
  position: absolute;
  top: -0px;
  left: -30px;
  z-index: 200;
  -webkit-animation: icons-hero 7s ease 0.5s infinite alternate;
          animation: icons-hero 7s ease 0.5s infinite alternate;
}

.icon-contactless-hero {
  position: absolute;
  top: 350px;
  left: 30px;
  z-index: 200;
  -webkit-animation: icons-hero 7s ease 1s infinite alternate;
          animation: icons-hero 7s ease 1s infinite alternate;
}

@media screen and (max-width: 960px) {
  .icon-contactless-hero {
    top: 320px;
    left: 120px;
  }
}

.icon-mobile-hero {
  position: absolute;
  top: 150px;
  left: -250px;
  z-index: 200;
  -webkit-animation: icons-hero 7s ease 2.5s infinite alternate;
          animation: icons-hero 7s ease 2.5s infinite alternate;
}

@media screen and (max-width: 960px) {
  .icon-mobile-hero {
    top: 350px;
    left: -100px;
  }
}

@-webkit-keyframes icons-hero {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(10px, -40px, 0);
            transform: translate3d(10px, -40px, 0);
  }
}

@keyframes icons-hero {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(10px, -40px, 0);
            transform: translate3d(10px, -40px, 0);
  }
}
/*# sourceMappingURL=style.css.map */