// Animations

$width-card: 340px;
$height-card: 0.64 * $width-card;

.div-card {
    perspective: 500px;
    position: relative;
}

.card {
    width: $width-card;
    height: $height-card;
    border-radius: 12px;
    

    z-index: -1;

    transform-origin: center center;
    transform-style: preserve-3d;

    animation: flip-card 12s linear infinite alternate,
    change-bg-card 12s linear infinite alternate;
}

@keyframes flip-card {
    0% {
        transform: rotateX(-10deg) rotateY(10deg) rotateY(-15deg);
    }
    40% {
        transform: rotateX(0deg) rotateY(20deg);
    }
    60% {
        transform: rotateX(180deg) rotateY(20deg);
    }
    100% {
        transform: rotateX(190deg) rotateY(10deg) rotateY(15deg);
    }
}

@keyframes change-bg-card {
    0%,49% {
        background-image: url(../svg/nubank.svg);
        background-size: cover;
    }
    50%,100% {
        background-image: url(../svg/nubank-verse.svg);
        background-size: cover;
    }
}

.icon-card-hero {
    position: absolute;
    top: -0px;
    left: -30px;

    z-index: 200;

    animation: icons-hero 7s ease 0.5s infinite alternate;
}

.icon-contactless-hero {
    position: absolute;
    top: 350px;
    left: 30px;

    z-index: 200;

    @include responsive(s){
        top: 320px;
        left: 120px;
    }

    animation: icons-hero 7s ease 1s infinite alternate;
}

.icon-mobile-hero {
    position: absolute;
    top: 150px;
    left: -250px;

    z-index: 200;

    @include responsive(s){
        top: 350px;
        left: -100px;
    }

    animation: icons-hero 7s ease 2.5s infinite alternate;
}

@keyframes icons-hero {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(10px, -40px, 0);
    }
}

// Section People

.people1 {
    opacity: 0;
    animation: people 10s ease 0s infinite;
}

.people2 {
    opacity: 0;
    animation: people 10s ease 5s infinite;
}

.people3 {
    opacity: 0;
    animation: people 10s ease 2s infinite;
}

.people4 {
    opacity: 0;
    animation: people 10s ease 7s infinite;
}

.people5 {
    opacity: 0;
    animation: people 10s ease 3s infinite;
}

.people6 {
    opacity: 0;
    animation: people 10s ease 8s infinite;
}

#people1 {
    @include responsive(s){
        display: none;
    }
}

@keyframes people {
    0% {
        opacity: 0;
    }
    20%,50% {
        opacity: 1;
    }
    70%,100% {
        opacity: 0;
    }
}

// Section Phone
.div-phone {
    position: relative;
}

.icon-cash2 {
    position: absolute;
    top: 120px;
    left: 120px;

    animation: icons-phone 3s ease 0s infinite alternate;
}

.icon-check2 {
    position: absolute;
    top: 55%;
    left: 130px;

    animation: icons-phone 3s ease 1.5s infinite alternate;
}

.icon-safe {
    position: absolute;
    top: 25%;
    left: -140px;

    animation: icons-phone 3s ease 2s infinite alternate;
}

@keyframes icons-phone {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(10px, -40px, 0);
    }
}