// Brand colors:

// Primary
$purple: #82269E;
$purple-light: #9C4FB4;
$purple-dark: #701F88;

// Secondary
$purple-2: #A950C4;
$purple-2-light: #BB71D2;
$purple-2-dark: #9142A8;

// Auxuliary
$red: #EB3D3D;
$red-light: #F05454;
$red-dark: #D03333;

$green: #32D957;
$green-light: #50E170;
$green-dark: #28BB49;

$yellow: #FFCE52;
$yellow-light: #FFD76B;
$yellow-dark: #D9B043;

// White colors
$white: #F3F0F5;
$white-light: #FBF8FC;
$white-dark: #EDEAEF;

// Black colors
$black: #232224;
$black-light: #353436;
$black-dark: #161617;

//Gray colors
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;

// Gradient colors
$gradient-1: linear-gradient(220.94deg, #A950C4 14.43%, #82269E 85.28%);