header {
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    transition: .5s ease;
    position: fixed;
    z-index: 800;
}

.active-header {
    background-color: $white;
    box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 
    0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 
    0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 
    0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
}

// Desktop
.navbar-desktop {
    max-width: $container-xl;
    margin: 0 auto;
    padding: 10px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(s) {
        display: none;
    }
}

.logo {
    width: 48px;
    height: 48px;

    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-desktop-item-1 {
    flex: 1 1 auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-desktop-item-2 {
    flex: 1 1 auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-desktop {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .menu-item {
        margin-left: 16px;
    }
}

.nav-link-desktop {
    display: inline-block;
    padding: 12px 16px;

    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 42%;
        right: -3px;

        width: 7px;
        height: 7px;
        transition: .2s linear;
        transform: rotate(45deg);

        border-radius: 1px;
        border-bottom: 2px solid $purple;
        border-right: 2px solid $purple;
    }

    &:hover {
        &::after {
            top: 45%;
        }
    }
}

// Mobile

.navbar-mobile {
    display: none;

    @include responsive(s) {
        display: block;
    }
}

.menu-mobile {
    display: none;

    @include responsive(s) {
        display: block;
    }
}

.dropdown-item {
    display: none;
}